apiVersion: apps/v1
kind: Deployment
metadata:
  name: datapress-api
  namespace: datapress-recette
spec:
  replicas: 2
  selector:
    matchLabels:
      app: datapress-api
  template:
    metadata:
      labels:
        app: datapress-api
    spec:
      containers:
        - name: api
          image: datapress-api:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          env:
            - name: APP_ENV
              valueFrom:
                configMapKeyRef:
                  name: datapress-config
                  key: APP_ENV
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: datapress-secret
                  key: DB_PASSWORD
          resources:
            requests:
              memory: "128Mi"
            limits:
              memory: "256Mi"
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 15
            periodSeconds: 20
